.row {
    padding: 0;
}


/* more spacing for paragraphs */
.page-home p {
    margin-bottom: 17px;
}

/* For extra ps between posts */
.page-home .post-content > p {
    margin: 0;
}

/* Give posts some spacing on the bottom (currently dont have) */
.page-home .post-holder {
    padding: 0 0 30px 0; 
}